<!DOCTYPE HTML> 
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <title>Casando São João</title>        
        <meta name="theme-color" content="#c71328">
        <meta name="description" content="O Casando S&atilde;o Jo&atilde;o &eacute; um site que vai mudar a maneira como voc&ecirc; pesquisa empresas para seu casamento e festas em geral. No Casando S&atilde;o Jo&atilde;o sua empresa tem uma &aacute;rea exclusiva em nosso site, onde seu p&uacute;blico alvo interagire com sua empresa. Para os noivos, al&eacute;m de poderem encontrar as melhores empresas para realizarem seus sonhos, podem tamb&eacute;m divulgar seu casamento." />
        <meta name="keywords" content="casando, casando em sjbv,casando soa joao,casamentos,casamento,noivado,festa,festa infantil,chacaras sjbv,chacaras s&atilde;o jo&atilde;o da boa vista,aniversario de 15 anos,comercio de sjbv,sjbv,po&ccedil;os de caldas,s&atilde;o joao da boa vista,noiva,noivos,noivado,alian&ccedil;as,flores,djs,dj,som,ilumina&ccedil;&atilde;o,cerimonialista,hotel,pousada,alugel de trajes,alugel de carros,convites,igreja, video, foto, fotografia,fotografo,decora&ccedil;&atilde;o,lua de mel,sal&atilde;o,beleza " />
        <meta name="subject" content="casando, casando em sjbv,casando soa joao,casamentos,casamento,noivado,festa,festa infantil,chacaras sjbv,chacaras s&atilde;o jo&atilde;o da boa vista,aniversario de 15 anos,comercio de sjbv,sjbv,po&ccedil;os de caldas,s&atilde;o joao da boa vista,noiva,noivos,noivado,alian&ccedil;as,flores,djs,dj,som,ilumina&ccedil;&atilde;o,cerimonialista,hotel,pousada,alugel de trajes,alugel de carros,convites,igreja, video, foto, fotografia,fotografo,decora&ccedil;&atilde;o,lua de mel,sal&atilde;o,beleza " />
        <meta name="robots" content="INDEX,FOLLOW" />
        <meta name="rating"        content="general" />
        <meta name="revisit-after" content="2 days" />
        <meta name="language"      content="pt-br" />
        <meta name="googlebot"     content="index, follow" />
        <meta name="audience"      content="all" />
        <meta name="DC.title"      content="Bem-vindo | Casando São João" />
        <meta name="doc-class"     content="Completed" />
        <meta name="author"        content="Alyson Silva Miranda" />
        <meta http-equiv="Pragma"  content="no-cache" />
        <!--build:css assets/css/css_casando_min.css-->
        <link href="assets/css/styles.css" rel="stylesheet" type="text/css" />    
        
        <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />    
        
        <!-- Slider anúncios -->
        <link href="assets/css/jquery.bxslider.css" rel="stylesheet" type="text/css" />   

        <link href="assets/css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css" /> 
        <!--endbuild-->      
    </head>
    <body>
        <div class="site">
            <header>
                <div class="topo" id="top">
                    <div class="logo wow flipInX animated">
                        <a href="#">Casando</a>
                    </div>

                    <p><a href="#">Faça sua página no Casando São João</a></p>

                    <div class="search">
                        <form>
                            <input class="campo_search limpar_campo" name="pesquisar" type="text" value="" placeholder="Pesquisar">
                            <input class="bt_search" name="enviar" type="submit" value="">
                        </form>
                    </div>
                </div> <!-- FIM topo -->

                <nav>
                    <div class="menubg" data-position="fixed">

                        <div class="topo_fixo">
                            <a href="#top" class="anchorLink"></a>
                        </div>

                        <ul class="menu" id="nav">
                            <li><a href="#">Serviços</a>
                                <ul class="mega popup" id="lista">  
                                </ul>
                            </li>
                            <li><a href="#">Artigos</a></li>
                            <li><a href="#">Noivos</a></li>
                            <li><a href="#">Quem somos</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>

                    </div> <!-- FIM menu -->
                </nav>
            </header>

            <section class="conteudo" id="topo">
                <!--Inicio conteudi -->
                <div class="banner">
                    <ul class="rslides" id="slider4">
                        <li> 
                            <img src="assets/imagens/template/banner1.jpg" alt="banner1" />
                            <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        </li>   
                        <li> 
                            <img src="assets/imagens/template/banner2.jpg" alt="banner2" />
                            <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget risus ultrices, ultricies eros sed, cursus ante</p>
                        </li>
                        <li> 
                            <img src="assets/imagens/template/banner3.jpg" alt="banner3" />
                            <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget risus ultrices, ultricies eros sed, cursus ante</p>
                        </li>
                    </ul>
                </div> <!-- FIM banner -->

                <div class="dtq_noivos wow fadeInLeft animated" data-wow-delay="0.1s">
                    <a href="#"><figure><img src="assets/imagens/template/noivos.jpg" alt="casal" /></figure></a>
                </div> <!-- FIM dtq_home -->

                <div class="artigo_home wow fadeInRight animated" data-wow-delay="0.3s">
                    <a href="#"><figure><img src="assets/imagens/template/artigo.jpg" alt="artigo" /></figure></a>
                    <div class="legenda_artigo">
                        <div class="artigo_secao">Artigo</div>
                        <div class="artigo_titulo"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisci</a></div>
                    </div> <!-- FIM legenda_artigo -->
                </div> <!-- FIM artigo_home -->

                <div class="anuncios_home slide1">
                    <ul class="bxslider">
                        <li><img src="assets/imagens/anuncios/anuncio.jpg" alt="anuncio" /></li> 
                        <li><img src="assets/imagens/anuncios/anuncio.jpg" alt="anuncio"/></li> 
                        <li><img src="assets/imagens/anuncios/anuncio.jpg" alt="anuncio"/></li> 
                        <li><img src="assets/imagens/anuncios/anuncio.jpg" alt="anuncio"/></li> 
                        <li><img src="assets/imagens/anuncios/anuncio.jpg" alt="anuncio"/></li> 
                        <li><img src="assets/imagens/anuncios/anuncio.jpg" alt="anuncio"/></li> 
                        <li><img src="assets/imagens/anuncios/anuncio.jpg" alt="anuncio"/></li> 
                    </ul>
                </div> <!-- FIM anuncios_home -->


                <!-- Classificados -->
                <section>
                    <div class="nome_categoria">
                        <h2>Classificados</h2>
                    </div>
                    <!--Filtros -->
                    <div class="filter">

                        <div class="filtro_buscar">        
                            <h3>Buscar:</h3>
                            <input type="text" id="procurar" class="searchbox" placeholder="O que você procura?" />
                        </div>

                        <div class="filtro_valor">           
                            <h3>Valores:</h3>
                            <span id="label_valor">R$0-R$1000</span>
                            <div id="input_valor"></div>
                            <input type="hidden" id="filtro_valor" value="0-1000" />        
                        </div>

                        <div class="filtro_tipo"> 
                            <h3>Tipo:</h3>
                            <ul id="tipo">
                                <li>
                                    <input id="troca" value="troca" type="checkbox">
                                    <span >Troca</span>
                                </li>
                                <li>
                                    <input id="venda" value="venda" type="checkbox">
                                    <span>Venda</span>
                                </li>
                            </ul>
                        </div>  

                        <div class="filtro_status"> 
                            <h3>Produto:</h3>
                            <ul id="status">
                                <li>
                                    <input id="novo" value="novo" type="checkbox">
                                    <span>Novo</span>
                                </li>
                                <li>
                                    <input id="usado" value="usado" type="checkbox">
                                    <span>Usado</span>
                                </li>
                            </ul>
                        </div>

                    </div> 
                    <!-- Fim Filtros -->
                    <div class="resultado_filter"> 
                        <div class="itens" id="service_list"></div>
                    </div>

                </section>
                <!-- FIM Classificados -->

                <!-- FIM conteudo -->
            </section>
            <!-- Inicio Footer -->
            <footer> 
                <div>
                    <p> 
                        <a href="#"> Anuncie no Casando São João! </a> 
                        <br />
                        <a href="#">Área do cliente</a>
                    </p>
                </div>
                <div class="rodape_centro">
                    <p>
                        <a href="#">
                            <img src="assets/imagens/template/logo_casando_rodape.png" alt="Logo Casando em São João" /> 
                        </a> 
                    </p>
                    <small class="copyright">Todos os Direitos Reservados &copy; Casando São João</small>
                </div>
                <div class="ultimo">
                    <ul class="social_midia">
                        <li> <a href="#" target="_blank"> <img src="assets/imagens/template/face-icon.png" alt="Facebook" /> </a> </li>
                        <li> <a href="#" target="_blank"> <img src="assets/imagens/template/twitter-icon.png" alt="Twitter" /> </a></li>
                        <li> <a href="#" target="_blank"> <img src="assets/imagens/template/google-plus-icon.png" alt="G+" /> </a> </li>
                    </ul>
                </div> 
                <!--build:js assets/js/js_casando_min.js-->
                
                <!-- Jquery -->
                <script type="text/javascript" src="assets/js/jquery.1.9.1.min.js"></script> 

                <!-- Para funcionar o menu fixo no mobile -->
                <script type="text/javascript" src="assets/js/jquery_mobile_132_min.js"></script> 

                <!-- Only for mobile devices -->
                <script src="assets/js/mobile-detect.min.js"></script>

                 <!-- INICIO scripts menu -->
                <script type="text/javascript" src="assets/js/tinynav_min.js"></script>                 
                <!-- FIM scripts menu -->

                 <!-- Slider anúncios --> 
                <script src="assets/js/jquery.bxslider.min.js" type="text/javascript"></script>
                
                <script src="assets/js/wow.js" type="text/javascript"></script>
                
                <!-- Dados -->
                <script src="assets/data/dados.js" type="text/javascript"></script>
                <!--Menu Serviços -->
                <script  src="assets/js/script.js" type="text/javascript"></script>

                <!--Filter Anuncios--> 
                <script src="assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
               <script src="assets/js/filter.js" type="text/javascript"></script>          
                <script src="assets/js/filter-anuncios.js" type="text/javascript"></script> 
                <!--Fim Filter Anuncios -->
                <!-- INICIO banner -->
                <script type="text/javascript" src="assets/js/responsiveslides_min.js"></script>
               
                <!-- Custom -->
                <script src="assets/js/custom.js" type="text/javascript"></script>

                <!-- INICIO menu suspenso -->
                <script type="text/javascript" src="assets/js/anchor_min.js"></script>
                
                <!--endbuild-->

                  
                <script id="template" type="text/html">
                    <div class="classificado">
                        <h3><%= titulo %></h3>
                        <p><%= anuncio %> <br />
                            R$ <%= valor %> <br />
                            <%= cidade %> <br />
                            <%= contato %> <br />
                            <%= email_contato %>
                        </p>
                    </div>
                </script>

               
                
               
                
               
            </footer> <!-- FIM Footer -->
        </div>
    </body>
</html>